* {
}
:root {
  --dark-green: #317312;
  --green: #6ebb2d;
  --ocean-blue: #24baec;
  --medium-blue: #166ef3;
  --dark-blue: #031136;
  --blue-bay: #434a90;
  --orange: #ff5903;
  --pink: #fd6b6c;
  --lilac: #c7a2cb;
  --white: #fffffc;
}
body {
  background-color: var(--);
  color: var(--);
  font-family: "Montserrat", sans-serif;
}

/*Main page*/
.main-container {
  margin-top: 3vw;
  padding: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2vw;
  align-items: center;
  justify-items: center;
  text-align: center;
}
/*Questionnaire*/
.questions-container{
  border-radius: 20px;
  background-color: var(--ocean-blue);
  padding: 2vw;
}
.card-title{
 margin-top: 1vw;
 margin-bottom: 1vw;
}
/*Questionnaire*/
/*Carousel*/
.carousel-inner {
  max-width: 50vw;
  height: 30vw;
}
<<<<<<< Updated upstream
.carousel-inner img {
  width: 100%; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción original */
}

/*Carousel*/


@media only screen and (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    
  }

  .carousel-inner {
    max-width: 100%;
    height: auto;
  }
  .carousel{
padding: 2vw;
  }
}
=======
>>>>>>> Stashed changes
